.leftmenu
  =form_tag url_for(controller: 'positions', action: 'find_by_alg'), method: 'post', id: 'find_by_alg', remote: true do
    Find by Alg:
    =text_field_tag "alg", nil, placeholder: 'BRDFLU or alg name', size: 35
    #find_by_alg_msg{style: "padding: 10px; display:none;"}

:javascript
  $('#find_by_alg').on('ajax:success', function(e, data, status, xhr) {
    var result = JSON.parse(xhr.responseText);
    if (result.ll_code) {
      window.location.href = '/positions/' + result.ll_code + '?urot=' + result.urot + '&hl=' + result.found_by;
    } else {
      bad_alg_dialog(result.error || "We didn't even get an error...");
    }
  });

  function bad_alg_dialog(message) {
    $('#find_by_alg_msg').text(message);
    $('#find_by_alg_msg').dialog({
      width: '350px', title: 'Find by Alg problem', modal: true, closeOnEscape: true, dialogClass: 'lars-dialog'
    });
  };

  $('#alg').keydown(function(event) {
    event.stopPropagation(); // Stop Roofpig from stealing key events
  });

  $('#alg').keyup(function(event) {
      var start = this.selectionStart;
      var end = this.selectionEnd;
      $(this).val( $(this).val().toUpperCase() );
      this.setSelectionRange(start, end);

    event.stopPropagation(); // Stop Roofpig from stealing key events
  });
