.oll-pic{id: "#{oll.code}"}
  %table{class: oll.highlight(active_oll)}
    %tr
      %th{colspan: 5}= "#{oll.name}"
    %tr
      %td.none
      %td.b{class: oll.color(:ULB_B)}
      %td.b{class: oll.color(:UB_B)}
      %td.b{class: oll.color(:UBR_B)}
      %td.none
    %tr
      %td.l{class: oll.color(:ULB_L)}
      %td.u{class: oll.color(:ULB_U)}
      %td.u{class: oll.color(:UB_U)}
      %td.u{class: oll.color(:UBR_U)}
      %td.r{class: oll.color(:UBR_R)}
    %tr
      %td.l{class: oll.color(:UL_L)}
      %td.u{class: oll.color(:UL_U)}
      %td.u.oll-color
      %td.u{class: oll.color(:UR_U)}
      %td.r{class: oll.color(:UR_R)}
    %tr
      %td.l{class: oll.color(:UFL_L)}
      %td.u{class: oll.color(:UFL_U)}
      %td.u{class: oll.color(:UF_U)}
      %td.u{class: oll.color(:URF_U)}
      %td.r{class: oll.color(:URF_R)}
    %tr
      %td.none
      %td.f{class: oll.color(:UFL_F)}
      %td.f{class: oll.color(:UF_F)}
      %td.f{class: oll.color(:URF_F)}
      %td.none
