- field = "##{prop}"
- add_class ||= ""
- message ||= nil
- icon = @picked[prop]

%td
  .selected-icon{data: {prop: prop}}
    = render 'cube_icon', icon: icon, selected_icon: @filters[prop], locked: @icon_grids[prop].blank?

  - if @icon_grids[prop]
    %div{id: "#{prop}-picker", class: 'hidden-picker'}
      .picker_buttons
        %a{class: "random knapp knapp-enabled", data: {field: field, code: 'random'}} Random
        %a{class: "unselect knapp" + (@picked[prop].is_none ? "" : " knapp-enabled"), data: {field: field, code: ''}} Unselect
      %table{class: "icon-grid " + add_class}
        - @icon_grids[prop].each do |icon_row|
          %tr
            - icon_row.each do |icon|
              %td
                = render 'cube_icon', icon: icon, selected_icon: @filters[prop] if icon
        - if message
          .message
            =message

