- selector = "##{filter}"
- add_class ||= ""
- message ||= nil
- icon = @picked[filter]

%td
  .selected-icon{data: {filter: filter}}
    = render 'cube_icon', icon: icon, selected_icon: @filters[filter], locked: @icon_grids[filter].blank?

  - if @icon_grids[filter]
    %div{id: "#{filter}-picker", class: 'hidden-picker'}
      .picker_buttons
        %a{class: "random knapp knapp-enabled", data: {field: selector, code: 'random'}} Random
        %a{class: "unselect knapp" + (@picked[filter].is_none ? "" : " knapp-enabled"), data: {field: selector, code: ''}} Unselect
      %table{class: "icon-grid " + add_class}
        - @icon_grids[filter].each do |icon_row|
          %tr
            - icon_row.each do |icon|
              %td
                = render 'cube_icon', icon: icon, selected_icon: @filters[filter] if icon
        - if message
          .message
            =message

