%h1 Alg DB

%h3 All Positions


=form_tag url_for(controller: "positions", action: "index"), method: 'get' do
  %h4 Filter
  %div
    =label_tag(:co, "Oriented corners")
    =select_tag(:co, options_for_select([["0", "0"], ["1", "1"], ["2", "2"], ["4", "4"]], @query['oriented_corners']), include_blank: true)
  %div
    =label_tag(:eo, "Oriented edges")
    =select_tag(:eo, options_for_select([["0", "0"], ["2", "2"], ["4", "4"]], @query['oriented_edges']), include_blank: true)
  %div
    =submit_tag("Reload")


%h5 Showing #{@positions.count} of #{Position.count} positions. #{LlAlg.count(:position_id)} solutions total

%table.index
  %th LL_CODE
  %th Solutions
  %th Moves
  %th Name
  %th Alg
  %th CO
  %th EO

  - @positions.each do |pos|
    %tr
      %td
        =link_to pos.ll_code, position_path(pos)
      %td
        =pos.ll_algs.count
      %td
        =pos.ll_algs[0].length
      %td
        =pos.ll_algs[0].name
      %td
        =pos.ll_algs[0].moves
      %td
        =pos.oriented_corners
      %td
        =pos.oriented_edges
