%h1 Alg Demo

%h3 Pre Alpha Spike Demo

- @positions.each do |code, algs|
  .roofpig.rp160{:'data-config' => "base=AD | alg=#{algs[0].moves} | flags=showalg" }
    =code
    =algs[0].nl

%script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
%script ROOFPIG_CONF_AD = "solved=U-| hover=3"
