%h1 Alg Demo

%h3 Pre Alpha Spike Demo

.roofpig.rp160{:'data-config' => "base=AD | tweaks=#{@cube1.as_tweaks}" }

%h3
  =@cube1.standard_ll_code

%script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
%script ROOFPIG_CONF_AD = "solved=U-| hover=3"
