.combinables
  You can use algs up to 10 moves (F-J), and the #{MirrorAlgs.k_plus_names.count} longer mirror pairs below. I can add others.
  .mirrored-algs
    =fmt_algs(MirrorAlgs.k_plus_names.join(' '))

:javascript
    $("#{fields}").keyup(function(event) {
      $(this).val( $(this).val().toUpperCase().replace(/[^A-Z\d .]/g, '') );
  });
