.combinables
  Combo ready algs are marked by
  %span.combo-ready c
  in the tables. More can be added!
  %p Currently all up to 10 moves (F,G,H,J), plus these #{MirrorAlgs.k_plus_names.count} mirror pairs.
  .mirrored-algs
    =fmt_algs(MirrorAlgs.k_plus_names.join(' '))

:javascript
    $("#{fields}").keyup(function(event) {
      $(this).val( $(this).val().toUpperCase().replace(/[^A-Z\d .']/g, '') );
  });
