%table.show_table
  %tr
  %tr
    %td Name
    %td
      =@algset.name
  %tr
    %td Description
    %td
      =@algset.description
  %tr
    %td Subset
    %td
      =subset_long_name(@algset)
  %tr
    %td Algs
    %td
      .mirrored-algs
        =fmt_algs(@algset.algs)
  %tr
    %td Coverage
    %td
      = fmt_coverage_percent(@algset) + ' ' + fmt_coverage_fraction(@algset, :parens)
  -unless @algset.full_coverage?
    %tr
      %td Uncovered
      %td.uncovered
        = fmt_uncovered(@algset)
  %tr
    %td Owner
    %td
      = owner(@algset)
  - if @can_edit
    %tr
      %td
      %td
        =link_to('Edit', edit_alg_set_path(@algset), class: 'knapp knapp-enabled knapp16')
