= render 'leftbar', section: Section::ALGSETS

= render 'page_rotation'

.algs-header
  %h4 #{@algset.dropdown_name} Algs
  .ok-button
    =link_to('OK', alg_sets_path, class: 'knapp knapp-enabled')

%table{class: @list_classes}
  %tr
    %th{colspan: @columns.size}
      Alg
    %th{colspan: @columns.size}
      Mirror Alg
  -@mirror_algs.each do |ma|
    %tr
      -presenter = RawAlgColumns.new(ma.algs[0])
      -@columns.each do |column|
        =list_td(presenter, column)
      -presenter = RawAlgColumns.new(ma.algs[1])
      -@columns.each do |column|
        =list_td(presenter, column)
