%table.algsets
  %tr
    %th
      id
    %th
      name
    %th
      subset
    %th
      algs
    %th
    %th
  - @all_sets.each do |algset|
    %tr
      %td
        =algset.id
      %td
        =algset.name
      %td
        =algset.subset
      %td
        ="#{algset.algs.split(' ').count}/#{algset.ids.count-1}"
      %td
        =link_to('show', alg_set_path(algset))
      %td
        =link_to('edit', edit_alg_set_path(algset))
