.algset_top
  =link_to('Birdflu', '/')
  =link_to('Algsets', alg_sets_path)

%table.algsets
  %tr
    %th
      id
    %th
      name
    %th
      subset
    %th
      algs
    %th
      avg length
    %th
      avg speed
    %th
    %th
  - @all_sets.each do |algset|
    %tr
      %td
        =algset.id
      %td
        =algset.name
      %td
        =algset.subset
      %td
        ="#{algset.algs.split(' ').count}/#{algset.ids.count-1}"
      %td
        ='%.3f' % algset.average_length
      %td
        ='%.3f' % algset.average_speed
      %td
        =link_to('show', alg_set_path(algset))
      %td
        =link_to('edit', edit_alg_set_path(algset))
