.algset_top
  =link_to('Birdflu', '/')
  =link_to('Algsets', alg_sets_path)

%h3 Show

%table.algsets
  %tr
    %td id
    %td
      =@algset.id
  %tr
    %td name
    %td
      =@algset.name
  %tr
    %td description
    %td
      =@algset.description
  %tr
    %td subset
    %td
      =@algset.subset
  %tr
    %td algs
    %td
      -fmt_algs(@algset).each do |line|
        .small
          =line
  %tr
    %td coverage
    %td
      = fmt_coverage(@algset)
  %tr
    %td owner
    %td
      = owner(@algset)
  %tr
    %td
    %td
      =link_to('edit', edit_alg_set_path(@algset), class: 'show-pig')

-unless @algset.computed
  :javascript
    $.get("/alg_sets/compute/#{@algset.id}", function(result) {
      if (result.success) {
        location.reload();
      } else {
        console.log("/alg_sets/compute/#{@algset.id} failed: ", result.error);
      }
    });
