.algset_top
  =link_to('Birdflu', '/')
  =link_to('Algsets', alg_sets_path)

%h3 Show Algset

=render 'show'

-unless @algset.computed
  :javascript
    $.get("/alg_sets/compute/#{@algset.id}", function(result) {
      if (result.success) {
        location.reload();
      } else {
        console.log("/alg_sets/compute/#{@algset.id} failed: ", result.error);
      }
    });
