= render 'leftbar', page: ApplicationController::FAV_NAME

.galaxy-header Your Starred Algs

-unless @chunks.present?
  %div{style: 'text-align: center; margin-top: 30px;'} To add favorites, use the ☆ column in an alg list.

-@chunks.each do |line|
  %div{class: "star#{line.first}", style: "font-size: 30px; width: 100%; text-align: center; margin-top: 10px;"}
  %table.galaxy-list.size-m-wc
    %tr
      -@columns.each do |column|
        %th= column.header
    - line.last.each do |star|
      - alg_presenter = RawAlgColumns.new(star.raw_alg, login: @login, star: star)
      %tr
        -@columns.each do |column|
          =list_td(alg_presenter, column)
