= render 'leftbar', page: ApplicationController::FAV_NAME

.galaxy-header Your Starred Algs

-unless @per_style.present?
  %div{style: 'text-align: center; margin-top: 30px;'} To add favorites, use the ☆ column in an alg list.

-@per_style.each do |galaxy_and_stars|
  -galaxy = galaxy_and_stars.first

  .big-star{class: galaxy.css_class}
  =render 'star_table', galaxy: galaxy, stars: galaxy_and_stars.last
  .public-link
    =link_to('Public link', galaxy_url(galaxy))