
// The side colors. Same as Roofpig.
$cube_red: red;
$cube_orange: orange;
$cube_green: #0d0;
$cube_blue: #07f;
$cube_yellow: yellow;
$cube_white: #eee;


// Common to all our list
.base-list {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #ddd;
  tr:hover { background: #eef; }
  td {
    border-left: 1px solid #ddd;
    padding: 0 2px;
  }
  th { border-left: 1px solid #fff; padding: 1px 4px;}
  a:visited { color: blue }

  .pick-icon {
    cursor: url('zoom.png') 14 12, zoom-in;

    transition: all .2s ease-in-out;
    transition-delay: 0.5s;

    &:hover {
      transform: scale(2.0);
      background: rgba(255, 255, 255, 0.5);
    }
  }
}

@mixin list-size($text-size, $button-size, $icon-size) {
  font-size: $text-size;
  .show-pig { font-size: $button-size; }
  .pick-icon { height: $icon-size; width: $icon-size; }
}

.size-l    { @include list-size(14px, 12px, 25px) }
.size-l-wc { @include list-size(16px, 13px, 25px) }

.size-m    { @include list-size(12px,  9px, 22px) }
.size-m-wc { @include list-size(14px, 10px, 22px) }

.size-s    { @include list-size(10px,  8px, 20px) }
.size-s-wc { @include list-size(12px,  9px, 20px) }



// ---- Site wide styles ----

body {
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a { text-decoration: none; }

.left     { float: left; }
.right    { float: right; }
.relative { position: relative; }


.center {
  margin: 0 auto;
}

h4, h5 {
  text-align: center;
  margin: 8px;
}


.rp-dialog {
  height:245px;
  width:200px;
  float:left;
  margin: 6px;
}
