// Place all the styles related to the alg_set controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 0;
  }
}

.show_table {
  font-size: 12px;
  border-collapse: collapse;

  td:nth-child(1) {
    font-weight: 700;
    text-align: right;
    display: block;
  }

  td {
    padding: 3px;
    .small { font-size: 8px; }
  }
}

$algset-header: linear-gradient(to bottom, #eb8 5%, #b83 100%);
.algset-list {
  @extend .base-list;

  th { background:$algset-header; }
  tr { border-bottom: solid 1px #ddd;}

  th:nth-child(n+9), td:nth-child(n+9) { border-left: none; } // button area

  .knapp { font-weight: 700; }
}

.mirroralg-list {
  @extend .base-list;

  th { background:$algset-header; }
  tr { border-bottom: solid 1px #ddd;}

  td:nth-child(5n+5) { border-left: none; }
  td:nth-child(5n+3) { border-left: none; }
  th:nth-child(2), td:nth-child(6) { border-left: solid 1px black; }
}

.edit_algset {
  label {
    font-size: 12px;
    font-weight: 700;
  }
  p { margin: 10px 0 4px 0; }
  .mirrored-algs { margin: 0 0 0 20px; }
}

.alg-set-form {
  width: 450px;
  margin: 0 auto;
}

#error_explanation {
  width: 400px;
  padding: 10px;

  color: red;
  font-size: 14px;
  background-color: #fee;
  ul { margin: 0; }
}


.combinables {
  font-size: 15px;
  margin: 18px auto 0 auto;
  text-align: center;

  width: 90%;
  border: 1px solid #aaa;
  background-color: #f4f4f4;
  padding: 4px;
  .mirrored-algs {
    margin: 10px;
    text-align: justify;
  }
}

.mirrored-algs {
  font-size: 10px;
  line-height: 1.4;
}

.side-button {
  position:absolute;
  top:4px;
  left:50%;
  margin-left:111px; // Start this far right of center
}

.uncovered {
  font-size: 80%;
  a { color: blue !important; }
}