// Place all the styles related to the alg_set controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$menu-color: #44f;
.algset_top {
  font-size: 16px;
  font-weight: 700;

  a {
    margin: 6px;
    color: $menu-color;
  }
  a:visited { color: $menu-color; }
  a:hover { text-shadow: 2px 2px 5px #777; }
  a:active {color: white; text-shadow: 0px 0px 5px #000, 0 0 8px #00F; }

  margin-bottom: 10px;
}

.index-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 0;
  }
}

.show_table {
  font-size: 12px;
  border-collapse: collapse;

  td:nth-child(1) {
    font-weight: 700;
    text-align: right;
  }

  td {
    padding: 3px;
    .small { font-size: 8px; }
  }
}


.algset-list {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #ddd;
  tr:hover { background: #eef; }
  tr { border-bottom: solid 1px #ddd;}
  td {
    border-left: 1px solid #ddd;
    padding: 0 3px;
  }
  th { border-left: 1px solid #fff; padding: 1px 4px;}

  th:nth-last-child(2), td:nth-last-child(2) { border-left: none; } // no line between buttons
  th:nth-last-child(1), td:nth-last-child(1) { border-left: none; } // no line between buttons

  th {
    background:linear-gradient(to bottom, #eb8 5%, #b83 100%);
  }

  .knapp { font-weight: 700; }
}

.edit_algset {
  label {
    font-size: 12px;
    font-weight: 700;
  }
  p { margin: 10px 0 4px 0; }
  .small { font-size: 10px; margin: 0 0 0 20px;}
}

#error_explanation {
  width: 200px;
  padding: 10px;
  color: red;
  ul {
    color: red;
    margin: 0;
  }
  background-color: #fee;
}

.flash_msgs {
  position: absolute;
  top: 8px;
  left: 50%;

  border-radius: 5px;

  padding: 12px;
  background-color: rgba(188, 255, 188, 0.7);
  border: 2px solid #5b5;
}