// Place all the styles related to the alg_set controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.algsets {
  font-size: 12px;
  border-collapse: collapse;

  table, th, td {
    border: 1px solid #ddd;
  }

  td {
    padding: 3px;
  }
}

