// Place all the styles related to the base_algs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.manage_algs {
  font-size: 9px;
  th {
    font-size: 12px;
  }
  tr, td {
    padding: 0;
  }
}
