$f_color: red;
$b_color: orange;
$r_color: #0d0;
$l_color: #07f;
$u_color: yellow;
$d_color: #eee;

.f-color { background-color: $f_color; }
.b-color { background-color: $b_color; }
.r-color { background-color: $r_color; }
.l-color { background-color: $l_color; }
.u-color { background-color: $u_color; }
.d-color { background-color: $d_color; }
.none { border: none !important; }
