.galaxy-header {
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-top: 10px
}

.galaxy-list {
  tr { border-bottom: solid 1px #ddd;}
  th {
    background:linear-gradient(to bottom, #fcc 5%, #f00 100%);
  }
  .knapp { font-weight: 700; }
  .pick-icon  {
    &:hover { background: transparent; }
  }
  .stars_td, .cstars_td {
    cursor: auto;
  }
}
