.pick-icon, .locked-pick-icon {
  width: 45px;
  height: 59px;
  font-size: 9.45px;
  .name {
    font-weight: bold;
    text-align: center;
  }
}

.locked-pick-icon {
  .name {
    background: #ccc;
  }
  background: #ddd;
}
.selected {
  .name { background: radial-gradient(#cef 40%, #8af); }
}
.pretty-icon svg {
  width:  192px;
  height: 195px;
  path.e_arrow {
    fill-opacity: 0.7;
  }
  path.c_arrow {
    fill: #aaa;
    stroke: white;
    stroke-opacity: 0.8;
    fill-opacity: 0.8;
  }
}

svg {
  .u { height: 23.5; width: 23.5 }

  .f-color { fill: $cube_red; }
  .b-color { fill: $cube_orange; }
  .r-color { fill: $cube_green; }
  .l-color { fill: $cube_blue; }
  .u-color { fill: $cube_yellow; }
  .d-color { fill: $cube_white; }

  .oll { fill: deeppink; }
  .cop { fill: #fb0; }
  .cp  { fill: white; }
  .co  { fill: #6df; }
  .eo  { fill: #0c0; }
  .eop { fill: #cf5; }
  .ep-across { fill: #adf; }
  .ep-fixed { fill: #aaa; }

  .ignore { fill: #d7d7d7; }

  .white { fill: white; }
}
