// Place all the styles related to the Position controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family:'Lucida Grande';
}

table {
  font-size: 9px;
}

.rp160 {
  height:205px;
  width:160px;
  float:left;
  font-size: 9px;
}

