// Place all the styles related to the Position controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ---- Universal stuff ----

body {
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a { text-decoration: none; }

.left     { float: left; }
.right    { float: right; }
.relative { position: relative; }

// The side colors. Same as Roofpig.
$f_color: red;
$b_color: orange;
$r_color: #0d0;
$l_color: #07f;
$u_color: yellow;
$d_color: #eee;

.center {
  margin: 0 auto;
}

h4, h5 {
  text-align: center;
  margin: 8px;
}

$optimal_color: #69f;
.optimal { color: $optimal_color; }

.algs-list, .positions-list {

  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #ddd;
  tr:hover { background: #eef; }
  tr:nth-child(5n + 1) { border-bottom: solid 1px #ddd;}
  td { border-left: 1px solid #ddd; }
  th { border-left: 1px solid #fff; padding: 1px 4px;}
  .single  { color: #073; }
  .combo   { color: #700; }
}
.algs-list {
  th { background-color: #cef; }

  th:nth-child(1) { // Sortby column header
    background: #37f;
    color: #fff;
  }
  td { padding: 0 2px; }
  td:nth-child(-n+2) { text-align: right; } // first two columns
  th:nth-last-child(2), td:nth-last-child(2) { border-left: none; }
  .hilite td {
    background-color: #ff0;
    border-top: solid red 1px;
    border-bottom: solid red 1px;
  }
}
.positions-list {
  th, tfoot { background-color: #484; color: #fff; }
  tfoot { text-align: center; font-size: 10px; }

  td { padding: 0 2px; }
  td:nth-last-child(4) { text-align: right; } // move count
  td:nth-last-child(3) { color: $optimal_color; text-align: right; }
  td:nth-last-child(1), th:nth-last-child(1), th:nth-last-child(2) { border-left: none; }
}

.combo-list {
  tr:nth-child(5n + 1) { border-bottom: none;}
}

@mixin list-size($text-size, $button-size, $icon-size) {
  font-size: $text-size;
  .show-pig { font-size: $button-size; }
  .pick-icon { height: $icon-size; width: $icon-size; }
}

.size-l    { @include list-size(14px, 12px, 25px) }
.size-l-wc { @include list-size(16px, 13px, 25px) }

.size-m    { @include list-size(12px,  9px, 22px) }
.size-m-wc { @include list-size(14px, 10px, 22px) }

.size-s    { @include list-size(10px,  8px, 20px) }
.size-s-wc { @include list-size(12px,  9px, 20px) }


.positions-stats { background-color: #f0f8f0; }

.rp-dialog {
  height:245px;
  width:200px;
  float:left;
  margin: 6px;
}


// ------------ Side bars

$left-color: #16A2D7;
$left-bgcolor: #f2f2f2;

.leftbar {
  position: absolute;
  top:40px;
  left:8px;

  display: flex;
  flex-direction: column;

  width: 150px;
  padding: 5px;

  .leftitem {
    font-size: 14px;

    margin-top: 3px;
    padding: 5px 10px;

    background-color: $left-bgcolor;
    color: $left-color;
    border: 1px solid #D7DBDD;

    input[type="text"] {
      margin-top: 4px;
      font-size: 9px;
    }
  }

  .clickable {
    cursor: pointer;

    a {color: $left-color; }
    &:visited { color: red; }
    &:hover { text-shadow: 2px 2px 5px #777; }
    &:active {color: white; text-shadow: 0px 0px 5px #000, 0 0 8px #00F; }
  }
}

.list-size__select{
  font-size: inherit;
  margin: 0;
  background-color: inherit;
  color: inherit;
}
@supports (pointer-events: none) and
    ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {

  .list-size {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .list-size__select {
    padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
    border: 0;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .list-size::before,
  .list-size::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  .list-size::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
    color: #37f;
  }

  .list-size::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0; top: 0; bottom: 0;
    border-radius: 0 3px 3px 0;
    background-color: darken($left-bgcolor, 7%);
  }

  /* FF only temp fix */
  @-moz-document url-prefix() {
    .list-size__select { padding-right: .9em }
  }
}


.rightbar {
  position: absolute;
  top:40px;
  right:0px;

  display: flex;
  flex-direction: column;

  width: 190px;
  padding: 5px;
}

.login {
  position: absolute;
  top:10px;
  right:10px;

  font-size: 12px;
  font-weight: bold;
  .logout {
    font-size: 60%;
  }
}

.login, .stats-box {
  a {
    color: black;
    text-shadow: 2px 2px 5px orange;
    text-decoration: none;
    display: block;
  }
  a:link {  }
  a:visited { }
  a:hover { text-shadow: 2px 2px 5px red; }
  a:active {color: white; text-shadow: 0px 0px 5px #000, 0 0 8px #00F; }
}

#about-link {
  cursor: pointer;
}

#about-box {
  display: none;
  font-size: 11px;
}
// ------------ Position info
.stats-box {
  border: 1px solid #bbb;
  font-size: 12px;
  padding: 6px;
  margin: 4px;

  #headline, #headline_prot {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 4px;
  }
  #headline_prot {
    margin-left: -4px; // https://css-tricks.com/fighting-the-space-between-inline-block-elements/
    font-size: 12px;
  }

  table {
    border-collapse: collapse;
    font-size: 11px;
    td:nth-child(2) { padding-left: 8px; }
  }
  .link { color: #aaa; display: inline-block; }
  .spacer { height: 10px; }
}

// --- SVG ---
.pick-icon, .locked-pick-icon {
  width: 45px;
  height: 59px;
  font-size: 9.45px;
  .name {
    font-weight: bold;
    text-align: center;
  }
}
.pick-icon  {
  &:hover {
    background-color:#bbb;
    .name {
      color:white;
      background-color:black;
    }
  }
}
.locked-pick-icon {
  .name {
    background-color: #ccc;
  }
  background-color: #ddd;
}
.selected {
  .name { background-color: #aff; }
}
.pretty-icon svg {
  width:  192px;
  height: 195px;
  path.e_arrow {
    fill-opacity: 0.7;
  }
  path.c_arrow {
    fill: #aaa;
    stroke: white;
    stroke-opacity: 0.8;
    fill-opacity: 0.8;
  }
}

svg {
  .u { height: 23.5; width: 23.5 }

  .f-color { fill: $f_color; }
  .b-color { fill: $b_color; }
  .r-color { fill: $r_color; }
  .l-color { fill: $l_color; }
  .u-color { fill: $u_color; }
  .d-color { fill: $d_color; }

  .oll { fill: deeppink; }
  .cop { fill: #fb0; }
  .cp  { fill: white; }
  .co  { fill: #6df; }
  .eo  { fill: #0c0; }
  .ep-across { fill: #adf; }
  .ep-fixed { fill: #aaa; }

  .ignore { fill: #d7d7d7; }

  .white { fill: white; }
}


#pickers {
  td { padding: 0 2px; }
}

table.icon-grid {
  border-collapse: collapse;
  svg { margin: 3px; }
  td { padding: 0; }
}
table.grid-lines {
  td {
    border-right: solid 1px #aaa;
  }
  td:last-child {
    border-right: none;
  }
}

.hidden-picker {
  display: none;
  .message {
    font-size: 12px;
    padding: 5px;
    text-align: center;
  }
}
// ------- Rotation UI

$panel-width: 450px;
.page-controls {
  display: flex;
  align-items: center;

  width: $panel-width;
  margin: auto;
}


.rotation-ui {
  position:absolute;
  top:46px;
  left:50%;
  margin-left:164px; // Start this far right of center
  border: 1px solid #aaa;

  h1 {
    text-align: center;
    margin: -8px 0 -2px 0;
    font-size: 10px;
  }

  h1 span{
    background-color: white;
    padding: 0 2px;
  }

  .buttons {
    display: flex;
    padding: 8px;
    align-items: center;
    font-size: 13px;
    a {
      margin: 0 2px;
      height: 10px;
    }
  }
  .shortcuts {
    margin-top: -4px;
    background-color: #eee;
    font-size: 9px;
    text-align: center;
  }
}

// ------------ Alg sections
.combo-name {
  font-weight: 700;
}

.cancel1 {
  color: #aaa;
  text-decoration: line-through;
}
.merged {
  color: #08f;
}
.cancel2 {
  color: #daa;
  text-decoration: line-through;
}
.alg2 {
  color: #a33;
}


// ------------ Page format header
.page-format-header {
  font-size: 16px;
  width: 200px;
  margin: 8px auto;
}

// ------------ Alg list header
.algs-list-header {
  font-size: 14px;
  width: $panel-width;
  margin: 8px auto;
  border-top: 1px solid #aaa;
  padding-top: 8px;
}

.lars-dialog {
  font-size: 80% !important;
}

.js-goto-post {
  &:hover {
    font-weight: bold;
    cursor: pointer;
  }
}

.picker-dialog {
  .ui-dialog-title {
    font-size: 90% !important;
  }
}

.picker_buttons {
  padding-bottom: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  .knapp {
    margin: 0 3px;
  }
}
// http://www.bestcssbuttongenerator.com/#/4

$sp_light_gradient: #ccc;
$sp_dark_gradient: #999;
$sp_box_shadow: #000;
$sp_border: #666;
$sp_text_shadow: #000;

.show-pig {
  -moz-box-shadow: 0px 10px 14px -7px $sp_box_shadow;
  -webkit-box-shadow: 0px 10px 14px -7px $sp_box_shadow;
  box-shadow: 0px 10px 14px -7px $sp_box_shadow;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $sp_light_gradient), color-stop(1, $sp_dark_gradient));
  background:-moz-linear-gradient(top, $sp_light_gradient 5%, $sp_dark_gradient 100%);
  background:-webkit-linear-gradient(top, $sp_light_gradient 5%, $sp_dark_gradient 100%);
  background:-o-linear-gradient(top, $sp_light_gradient 5%, $sp_dark_gradient 100%);
  background:-ms-linear-gradient(top, $sp_light_gradient 5%, $sp_dark_gradient 100%);
  background:linear-gradient(to bottom, $sp_light_gradient 5%, $sp_dark_gradient 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$sp1', endColorstr='$sp2',GradientType=0);
  background-color: $sp_light_gradient;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  border:1px solid $sp_border;
  display:inline-block;
  cursor:pointer;
  color:#fff;
  font-family:Arial;
  font-size:9px;
  padding:1px 5px;
  text-decoration:none;
  text-shadow:0px 1px 0px $sp_text_shadow;
}
.show-pig:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $sp_dark_gradient), color-stop(1, $sp_light_gradient));
  background:-moz-linear-gradient(top, $sp_dark_gradient 5%, $sp_light_gradient 100%);
  background:-webkit-linear-gradient(top, $sp_dark_gradient 5%, $sp_light_gradient 100%);
  background:-o-linear-gradient(top, $sp_dark_gradient 5%, $sp_light_gradient 100%);
  background:-ms-linear-gradient(top, $sp_dark_gradient 5%, $sp_light_gradient 100%);
  background:linear-gradient(to bottom, $sp_dark_gradient 5%, $sp_light_gradient 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$sp2', endColorstr='$sp1',GradientType=0);
  background-color: $sp_dark_gradient;
}
.show-pig:active {
  position:relative;
  top:1px;
}


$light:  #ededed;
$dark:   #bbb;
$shadow: #ffffff;

.knapp {
  font-size: 16px;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #333;
  padding: 3px;
  box-shadow: inset 0px 1px 0px 0px #{$shadow};
  background-color: #{$light};
  border: 1px solid #dcdcdc;
  outline: none;
  border-radius: 2px;
  text-indent: 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 #{$shadow};
}
.knapp-enabled {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #{$light}), color-stop(1, #{$dark}));
  background: -moz-linear-gradient(center top, #{$light} 5%, #{$dark} 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$light}', endColorstr='#{$dark}');
}
.knapp-enabled:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #{$dark}), color-stop(1, #{$light}));
  background: -moz-linear-gradient(center top, #{$dark} 5%, #{$light} 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$dark}', endColorstr='#{$light}');
}
.knapp-enabled:active, .knapp-fake-active {
  position: relative;
  top: 2px;
}
