// Place all the styles related to the Position controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ---- Universal stuff ----

body {
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
  color: #07c;
  &:hover {
    color: #30a7fc;
  }
  text-decoration: none;
}

.left     { float: left; }
.right    { float: right; }
.relative { position: relative; }

// The side colors. Same as Roofpig.
$f_color: red;
$b_color: orange;
$r_color: #0d0;
$l_color: #07f;
$u_color: yellow;
$d_color: #eee;

.center {
  margin: 0 auto;
}

h4, h5 {
  text-align: center;
  margin: 8px;
}

$optimal_color: #69f;
.optimal { color: $optimal_color; }

.index {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #ddd;
  tr:hover {background: #eef; }
  tr:nth-child(4n) { border-bottom: solid 1px #ddd;}
  th, td {
    font-size: 11px;
    border-left: 1px solid #ddd;
  }
  th {
    background-color: #cef;
  }
  .single  { color: #073; }
  .combo   { color: #700; }
  .copy    { color: #aaa; }
  .optimalcopy { color: #9cc; }
  .sortby {
    background: #05f;
    color: #fff;
  }
}
.alg-list {
  td { padding: 0 2px; }
  td:nth-child(-n+2) { text-align: right; }
}
.pos-list {
  td { padding: 0 2px; }
  td:nth-child(6) { text-align: right; }
  td:nth-child(7) { color: $optimal_color; text-align: right; }
}


.rp160 {
  height:205px;
  width:160px;
  float:left;
  margin: 6px;

  .name {
    text-align: center;
    font-size: 9px;
    font-weight: bold;
  }
}

.leftmenu {
  float: left;
  font-size: 13px;
  padding: 3px 14px;
  font-weight: bold;
}

.leftmenu, .left_side_stats {
  a {
    color: black;
    text-shadow: 2px 2px 5px orange;
    text-decoration: none;
    display: block;
  }
  a:link {  }
  a:visited { }
  a:hover { text-shadow: 2px 2px 5px red; }
  a:active {color: white; text-shadow: 0px 0px 5px #000, 0 0 8px #00F; }

  input { background-color: #fc7; }
}

// ------------ Position info
.left_side_stats {
  position: absolute;
  top:40px;
  left:8px;

  border: 1px solid #bbb;
  font-size: 12px;
  padding: 6px;
  margin: 4px;

  #rubric {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 4px;
  }

  table {
    border-collapse: collapse;
    font-size: 11px;
    td:nth-child(2) {
      padding-left: 8px;
    }
    .spacer {
      height: 10px;
    }
  }
  .dead-link {
    color: #aaa;
  }
}

.svg-icon {
  .name {
    font-weight: bold;
    text-align: center;
  }
  &:hover {
    background-color:#bbb;
    .name {
      color:yellow;
      background-color:purple;
    }
  }
}
.big-icon svg {
  border: dotted 4px;
  padding: 8px;
  margin: 10px;
  border-color: $b_color $r_color $f_color $l_color;
  path.edge {
    fill-opacity: 0.7;
  }
  path.corner {
    fill: #aaa;
    stroke: white;
    stroke-opacity: 0.8;
    fill-opacity: 0.8;
  }
  .outline {
    stroke: black;
    stroke-width: 0.2;
  }
}
$selected: #aff;


.selected {
  .name { background-color: $selected; }
}

svg {
  .u { height: 23.5; width: 23.5 }

  .f-color { fill: $f_color; }
  .b-color { fill: $b_color; }
  .r-color { fill: $r_color; }
  .l-color { fill: $l_color; }
  .u-color { fill: $u_color; }
  .d-color { fill: $d_color; }

  .oll { fill: deeppink; }
  .cop { fill: #fb0; }
  .eo  { fill: #0c0; }
  .ep-across { fill: #adf; }

  .ignore { fill: #d7d7d7; }

  .white { fill: white; }
}


.selected th {
  background-color: $selected;
}

#pickers {
  td { padding: 0 2px; }
}

table.icon-grid {
  border-collapse: collapse;
  svg {
    margin: 3px;
  }
  td {
    padding: 0;
  }
}
table.with-lines {
  td {
    border-right: solid 1px #aaa;
  }
  td:last-child {
    border-right: none;
  }
}

#oll-picker, #cop-picker, #eo-picker, #ep-picker {
  display: none;
}
.ubl-text {
  font-size: 12px;
  padding: 5px;
  text-align: center;
}
// ------------ Alg sections
.cancel1 {
  color: #aaa;
  text-decoration: line-through;
}
.merged {
  color: blue;
}
.cancel2 {
  color: #daa;
  text-decoration: line-through;
}
.alg2 {
  color: #a33;
}


// ------------ Page format header
.page-format-header {
  font-size: 16px;
  width: 200px;
  margin: 8px auto;
}

// ------------ Alg list header
.alg-list-header {
  font-size: 14px;
  width: 500px;
  margin: 8px auto;
}

.lars-dialog {
  font-size: 80% !important;
}

.goto-pos {
  &:hover {
    font-weight: bold;
    cursor: pointer;
  }
}

.picker-dialog {
  .ui-dialog-title {
    font-size: 90% !important;
  }
}

.picker_buttons {
  padding-bottom: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  .knapp {
    margin: 0 3px;
  }
}
// http://www.bestcssbuttongenerator.com/#/4
.show-pig {
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a3f57a), color-stop(1, #5cad30));
  background:-moz-linear-gradient(top, #a3f57a 5%, #5cad30 100%);
  background:-webkit-linear-gradient(top, #a3f57a 5%, #5cad30 100%);
  background:-o-linear-gradient(top, #a3f57a 5%, #5cad30 100%);
  background:-ms-linear-gradient(top, #a3f57a 5%, #5cad30 100%);
  background:linear-gradient(to bottom, #a3f57a 5%, #5cad30 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3f57a', endColorstr='#5cad30',GradientType=0);
  background-color:#a3f57a;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  border:1px solid #4b8f29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:9px;
  padding:1px 5px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5b8a3c;
}
.show-pig:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cad30), color-stop(1, #a3f57a));
  background:-moz-linear-gradient(top, #5cad30 5%, #a3f57a 100%);
  background:-webkit-linear-gradient(top, #5cad30 5%, #a3f57a 100%);
  background:-o-linear-gradient(top, #5cad30 5%, #a3f57a 100%);
  background:-ms-linear-gradient(top, #5cad30 5%, #a3f57a 100%);
  background:linear-gradient(to bottom, #5cad30 5%, #a3f57a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cad30', endColorstr='#a3f57a',GradientType=0);
  background-color:#5cad30;
}
.show-pig:active {
  position:relative;
  top:1px;
}


$light:  #ededed;
$dark:   #bbb;
$shadow: #ffffff;

.knapp {
  font-size: 16px;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #333;
  padding: 3px;
  box-shadow: inset 0px 1px 0px 0px #{$shadow};
  background-color: #{$light};
  border: 1px solid #dcdcdc;
  outline: none;
  border-radius: 2px;
  text-indent: 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 #{$shadow};
}
.knapp-enabled {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #{$light}), color-stop(1, #{$dark}));
  background: -moz-linear-gradient(center top, #{$light} 5%, #{$dark} 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$light}', endColorstr='#{$dark}');
}
.knapp-enabled:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #{$dark}), color-stop(1, #{$light}));
  background: -moz-linear-gradient(center top, #{$dark} 5%, #{$light} 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$dark}', endColorstr='#{$light}');
}
.knapp-enabled:active, .knapp-fake-active {
  position: relative;
  top: 2px;
}

