.stars_td, .cstars_td {
  cursor: pointer;
}

@mixin star_n($col, $char) {
  display: inline-block;
  &:before { content: $char; }
  color: $col;
}

.star1 { @include star_n(red, "★") }
.star2 { @include star_n(#0d0, "★") }
.star3 { @include star_n(#07f, "★") }
.star4 { @include star_n(orange, "★") }

.cstar1 { @include star_n(red, "☆") }
.cstar2 { @include star_n(#0d0, "☆") }
.cstar3 { @include star_n(#07f, "☆") }
.cstar4 { @include star_n(orange, "☆") }


#star-picker {
  div {
    margin: 0 -1px;

    border: 1px solid white;
    &:hover { border: 1px dashed purple; }
  }

}
