@mixin star_n($col, $char) {
  display: inline-block;
  &:before { content: $char; }
  color: $col;
}

.star1 { @include star_n($cube_red, "★") }
.star2 { @include star_n($cube_green, "★") }
.star3 { @include star_n($cube_blue, "★") }
.star4 { @include star_n($cube_orange, "★") }

.cstar1 { @include star_n($cube_red, "☆") }
.cstar2 { @include star_n($cube_green, "☆") }
.cstar3 { @include star_n($cube_blue, "☆") }
.cstar4 { @include star_n($cube_orange, "☆") }


#star-picker {
  div {
    margin: 0 -1px;

    border: 1px solid white;
    &:hover { border: 1px dashed purple; }
  }

}
