.status-page {
  background: linear-gradient(to right, #aff, #afa, #ffa);
}
.status-page-dev {
  background: linear-gradient(to right, orange, yellow, lightgreen);
}

.stat {
  font-size: 12px;
  margin: 12px;
}
