=form_tag url_for(controller: 'positions', action: 'find_by_alg'), method: 'post', id: 'find_by_alg', remote: true, enforce_utf8: false do
  Find by Alg:
  =text_field_tag "input_alg", nil, placeholder: 'notation/alg name'
  =text_field_tag "display_alg", nil, placeholder: 'BRDFLU translation', disabled: true
  =hidden_field_tag "post_alg"
  =submit_tag "", style: "display:none;", disabled: true
  #find_by_alg_msg{style: "padding: 10px; display:none;"}

:javascript
  $('#find_by_alg').on('ajax:success', function(e, data, status, xhr) {
    var result = JSON.parse(xhr.responseText);
    if (result.ll_code) {
      var new_url = '/positions/' + result.ll_code + '?prot=' + result.prot;
      new_url += (result.packed_alg ? '&hl_alg=' + result.packed_alg : '');
      new_url += (result.alg_id     ? '&hl_id='  + result.alg_id     : '');

      window.location.href = new_url;
    } else {
      bad_alg_dialog(result.error || "We didn't even get an error...");
    }
  });

  function bad_alg_dialog(message) {
    $('#find_by_alg_msg').text(message);
    $('#find_by_alg_msg').dialog({
      width: '350px', title: 'Find by Alg problem', modal: true, closeOnEscape: true, dialogClass: 'lars-dialog'
    });
  }

  function sync_alg_fields() {
    var display_alg_text = "-";
    try {
      var clean_input = $('#input_alg').val().replace(/[\(\)\t]/g, ''); // filter out tabs and braces
      display_alg_text = /^\D\d+[mM']*$/.test(clean_input) ? clean_input.toUpperCase() : new Alg(clean_input).unhand();
    }
    catch(err) {}
    $('#display_alg').val(display_alg_text);
    $('#post_alg').val(display_alg_text);

    if ($('#input_alg').val().length > 25) {
      $('#find_by_alg').addClass('wide');
    }
    $("#find_by_alg :submit").prop( "disabled", display_alg_text === '-' );
  }

  $('#input_alg').on("blur", function(event) {
    $('#find_by_alg').removeClass('focus');
  });

  $('#input_alg').on("focus", function(event) {
    $('#find_by_alg').addClass('focus');
  });

  $('#input_alg').on("input", function(event) {
    sync_alg_fields();
  });
