<!DOCTYPE html>
<html>
<head>
  <title>Birdflu 0.8 beta, or whatever.</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
